<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI>
			<Dialog Id="FilesInUse" Width="370" Height="270" Title="[ProductName] [Setup]" NoMinimize="yes" KeepModeless="yes">
				<Control Id="Retry" Type="PushButton" X="156" Y="243" Width="64" Height="17" Default="yes" Cancel="yes" Text="[ButtonText_Retry]">
					<Publish Event="EndDialog" Value="Retry"><![CDATA[1]]></Publish>
				</Control>
				<Control Id="Ignore" Type="PushButton" X="220" Y="243" Width="64" Height="17" Text="[ButtonText_Ignore]">
					<Publish Event="EndDialog" Value="Ignore"><![CDATA[1]]></Publish>
				</Control>
				<Control Id="Exit" Type="PushButton" X="286" Y="243" Width="64" Height="17" Text="[ButtonText_Exit]">
					<Publish Event="EndDialog" Value="Exit"><![CDATA[1]]></Publish>
				</Control>
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="425" Height="44" TabSkip="no" Text="[BannerBitmap]" />
				<Control Id="Description" Type="Text" X="15" Y="20" Width="300" Height="30" Transparent="yes" NoPrefix="yes">
					<Text>Some files that need to be updated are currently in use.</Text>
				</Control>
				<Control Id="Text" Type="Text" X="20" Y="55" Width="330" Height="30">
					<Text>The following applications are using files that need to be updated by this setup. Close these applications and then click Retry to continue the installation or Cancel to exit it.</Text>
				</Control>
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="425" Height="0" />
				<Control Id="Title" Type="Text" X="15" Y="6" Width="300" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>[DlgTitleFont]Files in Use</Text>
				</Control>
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="425" Height="0" />
				<Control Id="List" Type="ListBox" X="20" Y="87" Width="330" Height="130" Property="FileInUseProcess" Sunken="yes" TabSkip="yes" />
			</Dialog>
		</UI>
	</Fragment>
</Wix>
