<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BaseDatabase" value="D:\BASE_TESTDB.FDB" />
		<add key="DatabasePath" value="D:\NUNIT_TESTDB.FDB" />
		<add key="Assembly" value="FirebirdSql.Data.Bdp,Version=1.0.0.0,Culture=neutral,PublicKeyToken=c7d0a028dd9e545b" />
		<add key="Database" value="localhost/3050:d:\nunit_testdb.fdb" />
		<add key="UserName" value="SYSDBA" />
		<add key="Password" value="masterkey" />	
		<add key="Role" value="" />
		<add key="Charset" value="NONE" />
		<add key="Dialect" value="3" />	
		<add key="ServerType" value="0" />
		<add key="Isql Script" value="" />
	</appSettings>
</configuration>