<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="FD91E41B-6B32-47A3-B440-27A0158DD679"
					 UpgradeCode="0FD0277A-371E-4C1F-A486-0A6DB552E4B1"
					 Name="DDEX Provider for Firebird !(bind.fileVersion.FirebirdSql.VisualStudio.DataTools.dll)"
					 Language="1033"
					 Version="!(bind.fileVersion.FirebirdSql.VisualStudio.DataTools.dll)"
					 Manufacturer="FirebirdSQL">
		<Package InstallerVersion="200" Compressed="yes" Description="DDEX Provider for Firebird" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" CompressionLevel="high" />

		<Feature Id="FirebirdDDEXFeature" Title="DDEX Provider for Firebird" Level="1" Absent="disallow">
			<ComponentRef Id="FirebirdDDEXComponent" />
			<ComponentRef Id="OtherFilesComponent" />
		</Feature>
		<Feature Id="VS2015Registry64Feature" Title="Visual Studio 2015 Support (64bit OS)" Level="1">
			<ComponentRef Id="VS2015Registry64Component" />
		</Feature>
		<Feature Id="VS2015Registry32Feature" Title="Visual Studio 2015 Support (32bit OS)" Level="2">
			<ComponentRef Id="VS2015Registry32Component" />
		</Feature>
		<Feature Id="VS2013Registry64Feature" Title="Visual Studio 2013 Support (64bit OS)" Level="2">
			<ComponentRef Id="VS2013Registry64Component" />
		</Feature>
		<Feature Id="VS2013Registry32Feature" Title="Visual Studio 2013 Support (32bit OS)" Level="2">
			<ComponentRef Id="VS2013Registry32Component" />
		</Feature>
		<Feature Id="VS2012Registry64Feature" Title="Visual Studio 2012 Support (64bit OS)" Level="2">
			<ComponentRef Id="VS2012Registry64Component" />
		</Feature>
		<Feature Id="VS2012Registry32Feature" Title="Visual Studio 2012 Support (32bit OS)" Level="2">
			<ComponentRef Id="VS2012Registry32Component" />
		</Feature>
		<Feature Id="VS2010Registry64Feature" Title="Visual Studio 2010 Support (64bit OS)" Level="2">
			<ComponentRef Id="VS2010Registry64Component" />
		</Feature>
		<Feature Id="VS2010Registry32Feature" Title="Visual Studio 2010 Support (32bit OS)" Level="2">
			<ComponentRef Id="VS2010Registry32Component" />
		</Feature>
		<Feature Id="VS2008Registry64Feature" Title="Visual Studio 2008 Support (64bit OS)" Level="2">
			<ComponentRef Id="VS2008Registry64Component" />
		</Feature>
		<Feature Id="VS2008Registry32Feature" Title="Visual Studio 2008 Support (32bit OS)" Level="2">
			<ComponentRef Id="VS2008Registry32Component" />
		</Feature>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="APPLICATIONFOLDER" Name="FirebirdDDEX">
					<Component Id="FirebirdDDEXComponent" Guid="5FC7B74A-949A-448E-9E5A-1893C3CE9184">
						<File Id="FirebirdSql.VisualStudio.DataTools.dll"
									Name="FirebirdSql.VisualStudio.DataTools.dll"
									Source="$(var.BaseDir)\installer\in\FirebirdSql.VisualStudio.DataTools.dll" />
						<File Id="FirebirdSql.VisualStudio.DataToolsUI.dll"
									Name="FirebirdSql.VisualStudio.DataToolsUI.dll"
									Source="$(var.BaseDir)\installer\in\FirebirdSql.VisualStudio.DataToolsUI.dll" />
					</Component>
					<Component Id="OtherFilesComponent" Guid="348EA22F-390E-4BA6-9C93-3879581E9297">
						<File Id="readme.txt"
									Name="readme.txt"
									Source="$(var.BaseDir)\readme.txt" />
						<File Id="license.txt"
									Name="license.txt"
									Source="$(var.BaseDir)\..\license.txt" />
					</Component>
				</Directory>
			</Directory>

			<Component Id="VS2015Registry64Component" Guid="DA35A566-D451-4869-84EC-2991219728D1">
				<?include $(var.BaseDir)\installer\VS2015Registry64.wsx ?>
			</Component>
			<Component Id="VS2015Registry32Component" Guid="D4654238-3DF3-4783-9D0E-5D3B9B5C53CA">
				<?include $(var.BaseDir)\installer\VS2015Registry32.wsx ?>
			</Component>
			<Component Id="VS2013Registry64Component" Guid="60913AE0-759B-423E-862A-28570266BA16">
				<?include $(var.BaseDir)\installer\VS2013Registry64.wsx ?>
			</Component>
			<Component Id="VS2013Registry32Component" Guid="C5899ADD-E60A-4A7A-AAEE-36C05A04B1E5">
				<?include $(var.BaseDir)\installer\VS2013Registry32.wsx ?>
			</Component>
			<Component Id="VS2012Registry64Component" Guid="6A5ED58E-F4A5-4985-9281-B41F3C5CE1DB">
				<?include $(var.BaseDir)\installer\VS2012Registry64.wsx ?>
			</Component>
			<Component Id="VS2012Registry32Component" Guid="5796FC82-143F-432B-B8E4-648EE630479D">
				<?include $(var.BaseDir)\installer\VS2012Registry32.wsx ?>
			</Component>
			<Component Id="VS2010Registry64Component" Guid="609DD8AA-A626-4067-9559-1C1DCA899177">
				<?include $(var.BaseDir)\installer\VS2010Registry64.wsx ?>
			</Component>
			<Component Id="VS2010Registry32Component" Guid="46C5304F-B3D2-4E4A-88BF-EF3C36D05253">
				<?include $(var.BaseDir)\installer\VS2010Registry32.wsx ?>
			</Component>
			<Component Id="VS2008Registry64Component" Guid="23BBAB15-91E9-431E-91B3-6D10EFEBCA25">
				<?include $(var.BaseDir)\installer\VS2008Registry64.wsx ?>
			</Component>
			<Component Id="VS2008Registry32Component" Guid="C9B66F06-FA93-4B24-BBDE-10A6FADE974A">
				<?include $(var.BaseDir)\installer\VS2008Registry32.wsx ?>
			</Component>
		</Directory>

		<UIRef Id="WixUI_Advanced" />
		<Property Id="ApplicationFolderName" Value="FirebirdDDEX" />
		<Property Id="WixAppFolder" Value="WixPerMachineFolder" />
		<WixVariable Id="WixUISupportPerUser" Value="0" />
		<Property Id='ALLUSERS' Value='1' />
		<WixVariable Id="WixUILicenseRtf" Value="$(var.BaseDir)\..\license.rtf" />
	</Product>
</Wix>
