name: CI

on: [push, pull_request]

env:
  CONFIGURATION: Release
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1

jobs:
  ci:
    runs-on: windows-2025
    strategy:
      fail-fast: false
      matrix:
        FIREBIRD_SELECTION: [FB30, FB40, FB50]
        TEST_SUITE: [Tests-FirebirdClient-Default-Compression-CryptRequired, Tests-FirebirdClient-Default-NoCompression-CryptRequired, Tests-FirebirdClient-Default-Compression-CryptDisabled, Tests-FirebirdClient-Default-NoCompression-CryptDisabled, Tests-FirebirdClient-Embedded, Tests-EFCore, Tests-EFCore-Functional, Tests-EF6]
    timeout-minutes: 120
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        
      - name: .NET 10.0
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Build
        run: |
          try {
            .\build.ps1 -Configuration ${{ env.CONFIGURATION }}
            exit $LASTEXITCODE
          }
          catch {
            echo $_
            exit 1
          }
        shell: powershell

      - name: Tests
        run: |
          try {
            $env:tests_firebird_dir = 'C:\firebird'

            .\tests.ps1 -Configuration ${{ env.CONFIGURATION }} -FirebirdSelection ${{ matrix.FIREBIRD_SELECTION }} -TestSuite ${{ matrix.TEST_SUITE }}
            exit $LASTEXITCODE
          }
          catch {
            echo $_
            exit 1
          }
        shell: powershell

      - name: Publish Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: 'ci_${{ matrix.TEST_SUITE }}_${{ matrix.FIREBIRD_SELECTION }}_${{ env.CONFIGURATION }}'
          path: '.\\out\\'
